.details-preview {
	display: flex;
	width: 20%;
	text-align: center;
	padding: 100;
	margin: 10%;
	flex-direction: row;
	align-items: center;
}
img {
	width: 250px;
}
.comments {
	color: red;
	font-size: 20px;
}
span,
.comments-span {
	color: brown;
	font-size: 24px;
}
