.upper-page {
	width: 100%;
	margin: 0px;
	padding-left: 13%;
	padding-right: 5%;
	position: relative;
}

ul {
	text-align: center;
	padding: 0px;
	margin: 0px;
	list-style: none;
	display: flex;
	justify-content: end;
}
li {
	display: inline-block;
	font-size: 34px;
	color: white;
	line-height: 14px;
	height: 40px;
	padding: 20px;
	text-decoration: none;
}
body {
	display: flex;
	background-image: url('../images/background.jpeg');
	background-size: cover;
}
.ht {
	margin: 7px;
}
.logo-img {
	position: absolute;
	transform: translate(0px, -50%);
	top: 50%;
}
.link {
	text-decoration: none;
}

.catalog-img {
	height: 100%;
}
