header {
	background-color: #161415;
	padding: 20px;
	display: inline-block;
}

header .ht {
	color: #c7122d;
}
.upper-page {
	background-color: #161415;
	padding: 20px;
}

header .review {
	background-color: #db8f0f;
	color: #161415;
	padding: 5px 10px;
	border-radius: 5px;
}
.logo {
	display: flex;
	align-items: center;
}
.navigation-bar {
	display: flex;
	gap: 20px;
}
.menu-item {
	color: white;
	text-decoration: none;
	font-size: 18px;
	padding: 5px 10px;
}
