.upper-page {
	margin: 0px;
	padding: 0px;
	position: relative;
	right: -1250;
}
ul {
	text-align: center;
	padding: 0px;
	margin: 0px;
	list-style: none;
}
li {
	display: inline-block;
	font-size: 34px;
	color: white;
	line-height: 14px;
	height: 40px;
	padding: 20px;
}
body {
	display: flex;
	background-image: url('../images/background.jpeg');
	background-size: cover;
}
.ht {
	margin: 7px;
}
img {
	position: relative;
	top: -155;
	right: 970;
}
