* {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
	margin: 0px;
}
.container {
	position: relative;
	font-family: cursive;
}
h1 {
	text-align: center;
	color: rgb(178, 94, 205);
}
p {
	color: palegoldenrod;
	font-size: 30px;
	padding: 10 20%;
	margin: 50px;
}
