.login-form {
	text-align: center;
	color: red;
	margin: 110px 0 0 0;
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
	align-items: center;
}
h3 {
	font-size: 40px;
}
label {
	font-size: 44px;
}
input {
	font-size: 35px;
}
button {
	font-size: 35px;
}
